<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamoci una zampa</title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <th:block th:replace="fragments/sidebar :: customSidebar"></th:block>

    <h1 class="page-title">
        Lista Visite Veterinarie
    </h1>

    <section class="green-section">
        <table class="animal-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Ora</th>
                    <th>Id Animale</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="visita : ${visiteVeterinarie}">
                    <td th:text="${visita.id_visita}">1</td>
                    <td th:text="${#dates.format(visita.data, 'dd/MM/yyyy')}">Data</td>
                    <td th:text="${visita.ora}">Ora</td>
                    <td th:text="${visita.id_animale.IdAnimale}">Id Animale</td>
                    <td>
                        <a th:href="@{/dashboard/admin/visite-veterinarie/update/{id}(id=${visita.id_visita})}" class="button secondary">
                            Modifica
                        </a>
                        <a th:href="@{/dashboard/admin/visite-veterinarie/{id}(id=${visita.id_visita})}" class="button secondary">
                            Dettagli
                        </a>
                        
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="button-container">
            <a th:href="@{/dashboard/admin/visite-veterinarie/crea}" class="button primary">Aggiungi Nuova Visita</a>
        </div>
    </section>

</body>
</html>

