<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamoci una zampa</title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <th:block th:replace="fragments/sidebar :: customSidebar"></th:block>

    <div class="main-content">
        <h1 class="page-title">
            Lista Donazioni
        </h1>

        <section class="green-section">
            <table class="animal-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Importo</th>
                        <th>Donatore</th>
                        <th>Data Donazione</th>
                        <th>Descrizione</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="donazione : ${donazioni}">
                        <td th:text="${donazione.id_donazione}">1</td>
                        <td th:text="${donazione.importo}">100.00</td>
                        <td th:text="${donazione.persona.nome + ' ' + donazione.persona.cognome}">Mario Rossi</td>
                        <td th:text="${#dates.format(donazione.data_donazione, 'dd/MM/yyyy')}">01/01/2020</td>
                        <td th:text="${donazione.descrizione}">Descrizione</td>
                        <td>
                                    <a th:href="@{/dashboard/admin/donazioni/update/{id}(id=${donazione.id_donazione})}" class="action-icon-btn" title="Modifica">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    
                                </td>
                    </tr>
                </tbody>

            </table>

            
            <a th:href="@{/dashboard/admin/donazioni/save}" class="add-btn">Aggiungi Nuova Donazione</a>
            

        </section>
    </div>

    
</body>
</html>

