<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Nome.com</title>

    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

    <th:block th:replace="fragments/header :: customHeader"></th:block>

    <div class="animal-detail-wrapper">
  <div class="animal-image-box">
    <img src="../images/prova_foto.webp" th:alt="${animale.nome}" />
  </div>
  <div class="animal-info-box">
    <h2 style="color:black" class="animal-name" th:text="${animale.nome}">Nome Animale</h2>
    <p style="color:black" class="animal-short-desc" th:text="${animale.descrizioneBreve}">Descrizione breve</p>
  </div>
</div>


    <div class="container">
        <table>

            <thead>

                <th><a href="/">Home</a></th>

            </thead>

        </table>

        <h1 style="color:black">Dettaglio Animale</h1>

        <h2 style="color:black" th:text="'Id : ' + ${animale.idAnimale}"></h2>
        <h2 style="color:black" th:text="'Nome : ' + ${animale.nome}"></h2>
        <h2 style="color:black" th:text="'Specie : ' + ${animale.specie.nome}"></h2>
        <h2 style="color:black" th:text="'Razza : ' + ${animale.razza.nome}"></h2>
        <h2 style="color:black" th:text="'Sesso : ' + ${animale.sesso}"></h2>
        <h2 style="color:black" th:text="'Data Nascita : ' + ${animale.DataArrivo}"></h2>
        <h2 style="color:black" th:text="'Data Arrivo : ' + ${animale.DataNascita}"></h2>
        <h2 style="color:black" th:text="'Descrizione Breve :'"></h2>
        <p style="color:black" th:text="${animale.descrizioneBreve}"></p>
        <h2 style="color:black" th:text="'Descrizione Lunga :'"></h2>
        <p style="color:black" th:text="${animale.descrizioneLunga}"></p>
        <h2 style="color:black" th:text="'Stato Animale : ' + ${animale.IdStatoAnimale.descrizione}"></h2>

        
        
    </div>
</body>

<th:block th:replace="fragments/footer :: customFooter"></th:block>

</html>

