<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

    <link rel="stylesheet" th:href="@{../css/styles.css}" />

</head>
<body>
    
    <th:block th:replace="fragments/header :: customHeader"></th:block>

    <h1 style="color:black" th:text="'Animali disponibili: ' + ${animaliDisponibili}"></h1>

    <th:block th:replace="fragments/footer :: customFooter"></th:block>

</body>
</html>