<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <div th:replace="fragments/sidebar :: customSidebar"></div>

    <section class="filter-section animale-form">
    <form th:action="@{/dashboard/admin/adozioni/update}" th:object="${adozione}" method="post" class="filter-box animale-form-box" novalidate>

        <h2 class="form-title">Inserisci Nuova Adozione</h2>

        <div class="filter-field">
            <label for="idAnimale">Id Animale</label>
            <select id="idAnimale" th:field="*{animale.idAnimale}" required>
                <option value="" disabled selected>-- Seleziona --</option>
                <option th:each="animale : ${animali}"
                        th:value="${animale.idAnimale}"
                        th:text="${animale.idAnimale}"></option>
            </select>
        </div>
        
        <div class="filter-field">
            <label for="idPersona">Id Utente</label>
            <select id="idPersona" th:field="*{persona.id_persona}" required>
                <option value="" disabled selected>-- Seleziona --</option>
                <option th:each="utente : ${utenti}"
                        th:value="${utente.id_persona}"
                        th:text="${utente.id_persona}"></option>
            </select>
        </div>

        <div class="filter-field">
            <label for="dataAdozione">Data Adozione</label>
            <input type="date" id="dataAdozione" th:field="*{dataAdozione}" required>
        </div>
        
        <div class="filter-field">
            <label for="idStepAdozione">Step Adozione</label>
            <select id="idStepAdozione" th:field="*{stepAdozione.id_step_adozioni}" required>
                <option value="" disabled selected>-- Seleziona --</option>
                <option th:each="step : ${stepAdozioni}"
                        th:value="${step.id_step_adozioni}"
                        th:text="${step.nome_step}"></option>
            </select>
        </div>

        <div class="filter-field" style="display:flex; gap:1rem; justify-content:center; margin-top:1.5rem;">
        <button type="submit">Salva Adozione</button>
        <button type="reset" class="secondary">Reset</button>
        </div>

    </form>
    </section>
    
</body>
</html>